<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Text Content</title>
    <style>
        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
            font-family: monospace;
        }
    </style>
    <link rel="stylesheet" href="/css/styles2.css">
</head>

<body>
    <h1>Your Transactions</h1>
    <table>
        <thead>
            <tr>
                <th>Transaction Date</th>
                <th>Posting Date</th>
                <th>Description</th>
                <th>Transaction ID</th>
                <th>Amount</th>
                <th class="user-description-data">Description</th>
            </tr>
        </thead>
        <tbody>
            <% transactions.forEach(transaction=> { %>
                <tr>
                    <td>
                        <%=transaction['Transaction Date'] %>
                    </td>
                    <td>
                        <%=transaction['Posting Date'] %>
                    </td>
                    <td>
                        <%=transaction['Description'] %>
                    </td>
                    <td>
                        <%=transaction['Transaction ID'] %>
                    </td>
                    <td>
                        <%=transaction['Amount'] %>
                    </td>
                    <td class="user-description-data">
                        <input type="text" name="descriptions">
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>

</body>

</html>